
body {
    font-family: Arial, sans-serif;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator{
    display: flex;
    width: 280px;
    flex-direction:column;
}

#display{   
    background-color: aquamarine;
}

.buttons{
    display: flex;
    flex-direction: row;
}
.specialbar{
    display: flex;
    
}
.operator{
    display: flex;
    flex-direction: column;
}
.numbers{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
}

.numeric, .special, .operator{
    flex: auto;
    width: 70px;
    height: 70px;
}

.numeric{
    background-color: rgb(180, 180, 89);
}
.special{
    background-color: rgb(115, 180, 89);
}
.operator{
    background-color: rgb(180, 119, 89);
}