
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.calculator{
    display: flex;
    width: 280px;
    flex-direction:column;
    border: solid;
    padding: 5px;
    border-radius: 1%;
    background-color: #1C0F13;
}

.display{   
    background-color: #87F1FF;
    border: solid;
    text-align: right;
    padding: 5px;
    font-size: 2em;
    border-radius: 2%;
}

.buttons{
    display: flex;
    flex-direction: row;
}
.specialbar{
    display: flex;
    
}
.operators{
    display: flex;
    flex-direction: column;
}
.numbers{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
}

.numeric, .special, .operator{
    flex: auto;
    width: 63px;
    height: 63px;
    font-size: 2em;
    border:0;
    margin: 3px;
    border-radius: 10%;
}

.numbers button{
    background-color: #DB5461;
}
.special{
    background-color: #006C67;
    color: #FFFFFF;
}
.operator{
    background-color: #F3C98B;
}